:root {
  --color-primary: linear-gradient(-750deg,rgba(26, 8, 38, 1) 0%, rgba(150, 76, 199, 1) 100%);
  --color-secondary: rgba(150, 76, 199, 1);
  --color-background: rgba(45, 45, 45, 0.5);
  --color-nav-background: #1a0826;
  --color-white-text: #ffffff;

   --line-height: 2rem;

  --box-shadow: 0 10px 20px rgba(250, 250, 250, 0.5);

  --border-radius: 2rem;
  --card-border-radius: 1rem;
  --button-padding: 0.6rem 2rem;
  --search-padding: 0.6rem 1rem;
  --card-padding: 1rem;

}


.App {
  text-align: center;
}

.App-logo {
  height: 8vmin;
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar styling */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
  position: sticky;
  top: 0;
  background: var(--color-background);
  box-shadow: var(--box-shadow);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.nav-header {
  display: none;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0 2rem;
}

.navbar-container .navbar-menu {
  display: flex;
  list-style: none;
  text-align: center;
  gap: 1.5rem;
}


.navbar-container .navbar-menu li a {
  text-decoration: none;
  padding: 3px 20px;
  border-radius: 5px;
  border: 2px solid transparent;
  color: #ffffff;
  font-size: 0.875rem;
  transition: color 0.7s ease;
  white-space: nowrap;
}

.navbar-container .navbar-menu li a:hover {
  color: #ffffff;
  background-color: #1a0826;
  border: 2px solid #ffffff;
}

.navbar-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.navbar-toggle .bar {
  height: 3px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

/* Hero content */
.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 30vh;
  margin-left: 2rem;
  margin-right: 2rem;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: var(--color-white-text);

}

.hero h1 {
  font-size: 7rem;
  margin-bottom: 1rem;
}
.hero p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.hero .wrap {
  overflow: hidden;
  position: relative;
  height: 100vh;
  background-image: linear-gradient(-260deg,rgba(232, 220, 196, 1) 0%, rgba(196, 208, 232, 1) 100%);
}

.hero #canvas {
  width: 100%;
  height: 100%;
}

.tech-stack {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-top: 30vh;
}

.tech-stack img {
  height: 6vmin;
  cursor: pointer;
}

/* different tech stack style to the current ones */
/*.tech-stack .tech-stack-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: var(--card-border-radius);
  background-color: var(--color-background);
  box-shadow: var(--box-shadow);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}*/


.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: right;
  margin: 10vh 0 15vh 0;
  padding: 5rem;
  border-radius: var(--border-radius);
  height: 100%;
  width: 100%;
  background: var(--color-background);
  backdrop-filter: blur(10px);
  color: var(--color-white-text);
  text-align: left;
  align-items: center;
  float: right;
}

.content .test {
  grid-row: 1;
  grid-row: 1 / span 2;
}

.content .test img {
  object-fit: contain;
  width: 50rem;
  border-radius: var(--card-border-radius);
}

.content .about-text {
  grid-column: 2;
  float: right;
  line-height: var(--line-height);
  margin-left: 15rem;
}

#important {
  background: var(--color-primary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content .h3 {
  margin-right: 2rem;
}

.about-text2 {
  grid-column: 2;
  grid-row: 2;
  display: block;
  margin-left: 15rem;
}

.about-text2 p {
  margin-bottom: 1rem;
}

.about-text2 span {
  gap: 4rem;
  margin-right: 0.75rem;
}

.about-text2 .icon {
  size: 2rem;
  float: left;
}

main .skills-layout {
  margin-bottom: 5rem;
  color: var(--color-white-text);
}

.skills-layout .title {
  margin: 5rem 5rem 3rem 5rem;
  line-height: var(--line-height);
  float: left;
  text-align: left;
}

.skill-card {
  display: block;
  width: 25rem;
  margin: 0 0 0 4rem;
  box-sizing: border-box;
  min-height: 3.5rem;
  padding: 1rem;
  border: 2px solid #3029d6;
  border-radius: var(--card-border-radius);
  clear: both;
}

.skill-card h3 {
  float: left;
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 880px) {
  .navbar {
    backdrop-filter: none;
    display: none;
  }

  .nav-header .App-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vmin;
  }

  .nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 2rem;
  }

  .nav-header .navbar-menu {
    opacity: 0;
    overflow: hidden;
    position: absolute;
    list-style: none;
    top: 0;
    right: 0;
    width: 250px;
    height: 100vh;
    padding: 5rem 1.5rem;
    background: var(--color-nav-background);
    box-shadow: var(--box-shadow);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.7rem;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
  }

  .nav-header .navbar-menu li a {
    text-decoration: none;
    padding: 3px 20px;
    border-radius: 5px;
    border: 2px solid transparent;
    color: var(--color-white-text);
    font-size: 0.875rem;
    transition: color 0.7s ease;
    white-space: nowrap;
  }

  .nav-header .navbar-menu.open {
    display: flex;
    opacity: 1;
    transform: translateX(0);
  }

  .navbar-toggle {
    display: flex;
    z-index: 1001;
  }

  /* Animation for the hamburger menu when open */
  .navbar-toggle.open .bar:nth-child(1) {
     transform: rotate(45deg) translate(5px, 8px);
  }

  .navbar-toggle.open .bar:nth-child(2) {
  opacity: 0;
  }

  .navbar-toggle.open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -8px); 
  }

  .hero h1 {
    font-size: 4rem;
    color: var(--color-white-text);
    margin-bottom: 1rem;
  }
  .hero p {
    font-size: 1rem;
    color: var(--color-white-text);
    margin-bottom: 2rem;
  }

  .tech-stack {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 25vh auto 0;
    padding: 1rem;
    width: auto;
    position: static;
  }

  .tech-stack .tech-stack-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    min-width: 70px;
    min-height: 70px;
  }

  .tech-stack img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

    .content {
      display: grid;
      grid-template-columns: 1fr;
      min-height: 100%;
      max-height: 100%;
      margin: 10vh auto 0;
      align-items: center;
      text-align: left;
      padding: 1rem;
      box-sizing: border-box;
    }

    .content .about-text {
      grid-row: 1;
      grid-column: 1;
      float: none;
      line-height: var(--line-height);
      padding-right: 0;
      margin-left: 0;
    }

    .content .test {
      grid-row: 2;
      grid-column: 1;
      width: 100%;
      max-width: 100%;
    }

    .content .test img {
      width: 100%;
      max-width: 100%;
      height: auto;
      object-fit: contain;
    }

    .content h2 {
      margin-bottom: 2px;
    }
    .content p {
      margin-top: 1rem;
    }

    .about-text2 {
      display: none;
    }
}

/* Mobile display with screen orientation of landscape*/
@media screen and (orientation: landscape) and (max-height: 480px) {
  .content .test img {
    display: none;
  }
}

/* Ipad display with screen orientation of landscape */
@media (max-width: 1366px) and (orientation: landscape) {
  .content {
      display: grid;
      grid-template-columns: 1fr;
      height: 100%;
      min-height: 100%;
      max-height: 100%;
      margin: 10vh auto 0;
      align-items: center;
      text-align: center;
      padding: 1rem;
      box-sizing: border-box;
    }

    .content .about-text {
      grid-row: 1;
      grid-column: 1;
      float: none;
      line-height: var(--line-height);
      padding-right: 0;
      margin-left: 0;;
    }

    .content .test {
      grid-row: 2;
      grid-column: 1;
      width: 100%;
      max-width: 100%;
    }

    .content .test img {
      margin-top: 2rem;
      width: 100%;
      max-width: 100%;
      height: 50vh;
      object-fit: contain;
    }

    .content h2 {
      margin-bottom: 2px;
    }
    .content p {
      margin: 1rem 7rem 0 7rem;
    }

    .about-text2 {
      display: none;
    }
}
/* Ipad display with screen orientation of portrait */
@media (max-width: 1024px) and (orientation: portrait) {
  .tech-stack {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 25vh auto 0;
    padding: 1rem;
    width: auto;
    position: static;
  }

  .tech-stack .tech-stack-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    min-width: 70px;
    min-height: 70px;
  }

  .tech-stack img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

    .content {
      display: grid;
      grid-template-columns: 1fr;
      height: 100%;
      min-height: 100%;
      max-height: 100%;
      margin: 10vh auto 0;
      align-items: center;
      text-align: left;
      padding: 1rem;
      box-sizing: border-box;
    }

    .content .about-text {
      grid-row: 1;
      grid-column: 1;
      float: none;
      line-height: var(--line-height);
      padding-right: 0;
      margin: 0 0 4rem 0;
    }

    .content .test {
      grid-row: 2;
      grid-column: 1;
      width: 100%;
      max-width: 100%;
    }

    .content .test img {
      width: 100%;
      max-width: 100%;
      height: auto;
      object-fit: contain;
    }

    .content h2 {
      margin-bottom: 2px;
    }
    .content p {
      margin-top: 1rem;
    }

    .about-text2 {
      display: none;
    }
}
